---
import PageLayout from "../../layouts/PageLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<style>
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  li + li {
    margin-top: 40px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover .title {
    color: var(--color-link);
  }
  .title {
    margin: 12px 0 0;
    font-size: 1.7rem;
  }
  .date {
    margin: 2px 0 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
<PageLayout>
  <main class="container">
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                {post.data.heroImage && (
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4 class="title" transition:name={post.slug}>
                  {post.data.title}
                </h4>
                <p class="date" transition:name={post.data.pubDate?.toString()}>
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</PageLayout>
