---
interface Props {
  kind: "primary" | "outline" | "text";
  size: "large" | "normal";
  el: "button" | "link";
  url?: string;
  download?: boolean;
  openInNewTab?: boolean;
  class?: string;
}

const {
  kind = "primary",
  size = "normal",
  class: klass,
  el = "button",
  download,
  openInNewTab,
  url,
} = Astro.props;
---

{
  el === "button" && (
    <button class={`button size__${size} kind__${kind} ${klass}`}>
      <slot />
    </button>
  )
}
{
  el === "link" && (
    <a
      href={url}
      class={`button size__${size} kind__${kind} ${klass}`}
      target={openInNewTab ? "_blank" : null}
      download={download ? "" : null}
    >
      <slot />
    </a>
  )
}

<style>
  .button {
    appearance: none;
    border: none;
    font-size: 1rem;
    background: none;
    padding: 0 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .size__normal {
    height: 32px;
  }
  .size__large {
    height: 54px;
    font-size: 1.13rem;
    padding: 0 24px;
    border-radius: 12px;
    font-weight: 600;
  }

  .kind__primary {
    --color-bg: #000;
    --color-fg: var(--color-background);

    background: var(--color-bg);
    color: var(--color-fg);

    @media screen and (prefers-color-scheme: dark) {
      --color-bg: #fff;
    }
  }
</style>
