---
import "../styles/markdown-render.css";

import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const { title, description, pubDate, updatedDate, slug } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

    <style>
      .prose :global(img) {
        width: 100%;
        border-radius: 10px;
        box-shadow: var(--shadow1);
      }
      .date {
        font-size: 0.9rem;
        line-height: 1.4em;
      }
      .title {
        margin-bottom: 32px;
      }
      .title h1 {
        margin-bottom: 10px;
        line-height: 1em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="container">
      <article>
        <div class="prose">
          <div class="title">
            <h1 transition:name={slug}>{title}</h1>
            <div class="date" transition:name={pubDate?.toString()}>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
